/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-bd-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    height: 79px;
}
#logoBooki{
    padding: 30px 0px 30px 0px;
    width: 61px;
    height: 19px;

}
menu{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    gap: 68px;
    height: 35px;
}
.lienmenu{
 padding: 16px 0px 0px 0px;
 font-size: 16px;
}
.lienmenu:hover{
    padding: 14px 0px 0px 0px;
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/****** introduction ***********/  
.introduction{
    margin-top: 30px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
/**** Titres *********/  
H1{
    font-size: 22px;
    margin: 0px;
}
#subtitle{
    font-size: 16px;
    margin-top: 8x;
}
/**** barre de recherche *********/  
.search-bar{
    display: flex;
    justify-content: stretch;
    width: 375px;
    height: 47px;
    position: relative;
    z-index: 0;
    border: 1px solid var(--main-bg-color);
    border-radius: 16px 16px 16px 16px;
}
#map-icone {
    flex: 0 0 50px;
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    align-items: center;
    justify-content: center;
    height: 49px;
    position: relative;
    bottom: 1px;
    z-index: 1;
}
.fa-location-dot {
    font-size: 18px;
    color: black;
}
#Btn-search{
    border: none;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    position: relative;
    z-index: 1;
    height: 49px;
    bottom: 1px;
    left: 1px;
    padding-left: 16px;
    padding-right: 16px;
}
#input-recherche{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
#search-text{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.fas{
display: none;
}

/**** Filtres *********/

.area-filtres{
    display:flex;
    justify-content: flex-start;
    width:758px;
    height: 50px;
    gap: 20px;
}

.Title-filtres{
    font-size: 18px;
    font-weight: bold;
}

.area-Btn-filtres{
    display:flex;
    justify-content: flex-start;
    gap: 15px
}

.Btn-filtres{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    border: 2px solid var(--filter-bd-color);
    font-weight: bold;
    height: 50px;
    gap: 10px;
    padding: 0 17px 0 17px;
    font-size: 17px;
    text-wrap: nowrap;
}

.Btn-filtres:hover{
    background-color: var(--filter-bg-color);
}

.fa-filtres{
    font-size: 22px;
    width: 22px;
}

/**** Infobar *********/

.infobar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
}

.fa-info{
    position: relative;
    width: 4px;
    left: 9px;
    top: 5px;
}

.info-icon{
    flex: 0 0 22px;
    height: 22px;
    font-size: 10px;
    border: 1px solid var(--filter-bd-color);
    border-radius: 25px;
    position: relative;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-card {
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.hebergements .card-content{
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.hebergements .card-rating{
    height: 13.25px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    margin-bottom: 1px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements .card-subtitle{
    font-size: 14px;
    margin: 0;
    margin-bottom: 8px;
}
.hebergements .card-title{
    margin:0;
    margin-bottom: 8px;
}

.link-afficher{
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards .fa-star {
    font-size: 0.68em;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites{
    padding: 30px;
    box-sizing: border-box;
}

.activites .section-title{
    padding-bottom: 30px;
    height: 30.02px;
}

.container-activites{
display: flex;
justify-content: space-between;
align-items: center;
}

.activites a{
    width: calc(25% - 22.5px);
    height: 439px;
}

.activites .card{
    padding: 0;
    height: 100%;
}

.activites .card img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
}

.activites .card-title{
    display: flex;
    padding-left:20px;
    margin: 0;
    align-items:center;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a{
        flex: 1;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .area-filtres{
        width: 668px;
        flex-direction: column;
        gap: 20px;
        height: 91px;
    }
    .Title-filtres{
        margin:0;
    }

    .Btn-filtres{
        font-size: 16px;
    }
}

.activites a{
    height: 270px;
}

.activites .card-title{
    height: 70px;
}

.activites .card img{
    height: 200px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }
    
    .hebergements-and-populaires section {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements-and-populaires .card-title{
        font-size: 16px;
    }
     .hebergements-and-populaires .card-subtitle{
        font-size: 14px;
    }

    .populaires{
        margin-top: 0px;
    }

    .populaires-cards .card{
        margin-top: 15px;
    }

     .populaires-cards a {
    width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
    }
   
    .hebergements-cards{
        flex-direction: column;
    }
    
    .euro {
        font-weight: 600;
    }
    .container-card{
        width: 100%;
    }


    .lienmenu:active,
    .lienmenu:hover,
    .lienmenu:focus{
    padding: 0px 0px 14px 0px;
    border-top: none;
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    }
    .lienmenu{
        width: 50%;
        text-align: center;
        padding: 0px 0px 16px 0px;
        border-bottom: 2px solid var(--main-bg-color);
    }
    header{
        flex-direction: column;
        align-items: center;
        height: 115px;
    }
    menu{
        width:100%;
        gap: 0px;
    }
    
    .main-container{
        padding: 0px;
    }
    main{
        margin: 0px;
    }
    
    .introduction{
        padding-right: 20px;
        padding-left: 20px;
    }
    #search-text{
        display: none;
    }
     .search-bar{
        width:100%;
    }
    #Btn-search{
        flex: 0 0 49px;
        border-radius: 15px;
    }
    .fas{
        display: initial;
        font-size: 18px;
        color: white;
    }

    .Btn-filtres:focus{
        background-color: var(--filter-bg-color);
    }
    .Btn-filtres{
        width: calc(50% - 5px);
        font-size: 14px;
        justify-content: flex-start;
    }

    .area-filtres{
        width: 100%;
        gap: 20px;
        height: 161px;
    }

    .area-Btn-filtres{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 10px;
    }

    .container-activites{
        flex-direction: column;
        gap : 15px;
    }

    .activites a{
        width: 100%;
        height: 200px;
    }

    .activites .card img{
        height: 141px;
    }

    .activites .card-title{
    padding: 20px 19px 20px 19px;
}
}